@import "tailwindcss";

:root {
  --secondary-500: #124980;
  --accent-orange: #F0632E;
}

@theme inline {
  --color-secondary-500: var(--secondary-500);
  --color-accent-orange: var(--accent-orange);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-navy: #003366;
  --color-orange: #F37021;
}

@media (prefers-color-scheme: dark) {
  :root {
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
  
  --text-body: 14px;
  --leading-body: 1.35;
  }}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f6fa;
  color: #041F2B;
  font-family: var(--font-montserrat), sans-serif;
  font-size: 14px;
  line-height: 1.35;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat), sans-serif;
  line-height: 1.2;
}


svg {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    outline: none;
}
.drag-slider::-webkit-scrollbar { display: none; }
svg path {
    user-select: none;
}

svg g {
    outline: none;
}

/* Hide the black border rectangle rendered internally by react19-simple-maps */
.rsm-svg > rect:first-child {
    display: none !important;
}
